* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: inherit;
}

li {
  list-style: none;
}

.title {
  font-weight: 700;
  font-size: 34px;
  padding: 12px 0;
}

.header {
  width: 100%;
  border-bottom: 1px solid #ddd;
}

.navbar {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  gap: 30px;
}

.navbar__logo span {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #309b42;
  color: white;
  display: inline-block;
  padding: 0 8px;
}

.navbar__collection {
  display: flex;
  gap: 30px;
  flex: 1;
  color: black;
}

.navbar__link:hover {
  color: #f4f4f4;
}
.navbar__button {
  margin: 0px 25px 0px 0px;
  padding: 8px 12px;
  border-radius: 100px;
  border: none;
  background: #ff002b;
  color: white;
  font-size: 15px;
}
.navbar__button:hover {
  cursor: pointer;
  transform: rotate(-5deg);
}
.navbar__button:active {
  scale: 0.9;
}

.navbar__span {
  background-color: #006f4c;
  border-radius: 50px;
  padding: 10px;
  color: white;
}

.navbar__btn {
  padding: 8px 18px;
  background: #f6f8f9;
  border: none;
}
/* .costum__btn {
  padding: 8px 24px;
  background: #309b42;
  display: inline-block;
  border-radius: 6px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  transition: all 0.2s linear;
  position: relative;
} */
/* .costum__btn::after {
  content: "";
  width: 100%;
  height: 2px;
  background: #ff002b;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(0px, -20px) rotate(-17deg);
}
.costum__btn:hover {
  background: #20752e;
  cursor: pointer;
  transform: rotate(-5deg);
}
.costum__btn:active {
  scale: 0.9;
} */

.main {
  width: 100%;
  min-height: 100vh;
  background: #f6f8f9;
}

.wraper {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.card {
  width: 300px;
  background: white;
  cursor: pointer;
  transition: 0.2s;
  padding-top: 8px;
  border-radius: 6px;
}
.card:hover{
    box-shadow: 4px 4px 16px #0003;
    scale: 1.02;
    
}
.card__body {
  padding: 14px;
}

.card__desc {
  color: gray;
  margin: 16px 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  height: 42px;
  overflow: hidden;
}

.card__price {
  display: block;
  color: #309b42;
  margin-bottom: 28px;
}

.card__btn {
  width: 100%;
  height: 40px;
  border: none;
  font-size: 16px;
  font-weight: 500;
  background: #f6f8f9;
}

.card__btn:hover {
  background-color: gold;
  cursor: pointer;
}
.discount-label {
  background-color: red;
  color: white;
  border-radius: 20px;
  padding: 5px 10px;
  font-size: 15px;
  display: inline-block;
  font-weight: bold;
}
.card__strong {
  display: block;
}

.card__row {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 30px;
}
.lorem{
    background-color: crimson;
    width: 600px;
   height: 400px; 
   margin: 60px;
   box-shadow: #ff0000;
   padding: 40px;
   color: #fff;
   font-size: 30px;
   font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;                                                                 
}
